allow init debugfs:dir mounton;
allow init sensors_data_file:dir mounton;
allow init persist_drm_file:dir mounton;
allow init proc_kernel_sched:file rw_file_perms;
allow init vendor_file:file { execute };

allow init aodcommon_exec:file { execute };
allow init aodpower_exec:file { execute };
allow init aodview_exec:file { execute };
allow init display_brightness_exec:file { execute };
allow init display_general_exec:file { execute };
allow init display_tune_exec:file { execute };
allow init display_uevent_exec:file { execute };

#allow init firmware_file:dir { create_dir_perms setattr };
#allow firmware_file rootfs:filesystem associate;
