typeattribute hal_aodcommon_exec binder_in_vendor_violators;
typeattribute hal_aodpower_exec binder_in_vendor_violators;
typeattribute hal_aodview_exec binder_in_vendor_violators;
typeattribute hal_display_brightness_exec binder_in_vendor_violators;
typeattribute hal_display_general_exec binder_in_vendor_violators;
typeattribute hal_display_tune_exec binder_in_vendor_violators;
typeattribute hal_display_uevent_exec binder_in_vendor_violators;
typeattribute hal_lge_light_exec binder_in_vendor_violators;

allow init debugfs:dir mounton;
allow init sensors_data_file:dir mounton;
allow init persist_drm_file:dir mounton;
allow init proc_kernel_sched:file rw_file_perms;
allow init vendor_file:file { execute };


allow init hal_aodcommon_exec:file { execute };
allow init hal_aodpower_exec:file { execute };
allow init hal_aodview_exec:file { execute };
allow init hal_display_brightness_exec:file { execute };
allow init hal_display_general_exec:file { execute };
allow init hal_display_tune_exec:file { execute };
allow init hal_display_uevent_exec:file { execute };
allow init hal_lge_light_exec:file { execute };

#allow init firmware_file:dir { create_dir_perms setattr };
#allow firmware_file rootfs:filesystem associate;
